<div class="row">
  <div class="col-md-6">
    <h3> </h3>
    <table class="table table-striped">
      <tr><td><a href="01-rstudio-intro">Introduction to R and RStudio</a></td></tr>
      <tr><td><a href="02-project-intro">Project Management With RStudio</a></td></tr>
      <tr><td><a href="03-seeking-help">Seeking Help</a></td></tr>	     
      <tr><td><a href="04-data-structures-part1">Data Strutures</a></td></tr>	  
      <tr><td><a href="05-data-structures-part2">Exploring Data Frames</a></td></tr>	  
      <tr><td><a href="06-data-subsetting">Subsetting Data</a></td></tr>	  
      <tr><td><a href="07-control-flow">Control Flow</a></td></tr>	  
      <tr><td><a href="08-plot-ggplot2">Creating Publication-Quality Graphics with ggplot2</a></td></tr>	  
      <tr><td><a href="09-vectorization">Vectorization</a></td></tr>	  
      <tr><td><a href="10-functions">Functions Explained</a></td></tr>	  
      <tr><td><a href="11-writing-data">Writing Data</a></td></tr>	
      <tr><td><a href="12-plyr">Splitting and Combining Data Frames with plyr</a></td></tr>	  
      <tr><td><a href="13-dplyr">Data Frame Manipulation with dplyr</a></td></tr>	
      <tr><td><a href="114-tidyr">Data Frame Manipulation with tidyr</a></td></tr>	
      <tr><td><a href="15-knitr-markdown">Producing Reports With knitr</a></td></tr>	
      <tr><td><a href="16-wrap-up">Writing Good Software</a></td></tr>	
    </table>
  </div>
</div>
